<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
DirectoryIndex index.php       
order deny,allow
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
